---
layout: page
title: Our Team Members
subtitle: The humans behind this code sharing repo
show_sidebar: false
---

<div class="columns">
    <div>
        <h2>Neglected Tropical Diseases Modelling (NTDM) Group</h2>
        {% include image-modal.html ratio="" link="img/team/pan.jpg" alt="pan" large_link="img/team/pan.jpg" %}
        <h2>Drug-Resistant Infection and Disease Dynamics Group (DRIaDD)</h2>
        {% include image-modal.html ratio="" link="img/team/ben.jpg" alt="pan" large_link="img/team/ben.jpg" %}
        <h2>Analytical tools for Malaria Elimination (AToME) Group</h2>
        {% include image-modal.html ratio="" link="img/team/ricardo.jpg" alt="pan" large_link="img/team/ricardo.jpg" %}
        <h2>Economics and Implementation Research Group (EIRG)</h2>
        {% include image-modal.html ratio="" link="img/team/yoel.jpg" alt="pan" large_link="img/team/yoel.jpg" %}
        <h2>Institution Translational Partnership(iTP)</h2>
        <h2>Other</h2>
    </div>
</div>